<div class = "playPosition playBorder playBackground" cdkDrag>
    <img class="resetButton" (click) = "resetCircuit()"
    src="\assets\general icons\undo-arrow_freepik.png">

    <img *ngIf="simulationRunner.action != 'waitingForInput' "class="simulateButton" (click) = "simulateCircuit()"
    src="\assets\general icons\play-buttonRoundIcons.png">

    <img *ngIf="simulationRunner.action == 'waitingForInput'"class="simulateButton" (click) = "simulateCircuit()"
    src="\assets\general icons\pause_feen.png">

    <img class="simulateStep" (click) = "simulateOneStep()"
    src="\assets\general icons\next_nawicon.png"> 
</div>