div{
    display: inline-block;
    width: fit-content;
}
.gateIcon
{
    width : 20ex;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
}
p{
    margin-top: -1ex;
    text-align: center;
}