.testsContainer{
    display: inline-block;

    height: 80%;
    width: 30%;
    margin-left: 55%;
    background-color: white;

    padding-right: 4ex;
    padding-bottom: 2ex;
}

.scrollable{
    overflow-x: auto;
    overflow-y: auto;
    resize: both;
}

.searchBar {
    padding-top: 0.5ex;
    padding-bottom: 0.1ex;
    width: 30ex;
    font-size: 2ex;
}

.searchButton{
    background-color: rgb(84, 105, 212);
    color: #fff;
    margin-left: 1ex;
    margin-right: 2ex;
    font-size: large;
    font-weight: 600;
    cursor: pointer;
    border: none;
}





@media screen and (max-width: 1000px)
{
  .testsContainer{
    display: block;
    position: relative;

    margin-top: 5%;
    height: 400px;
    width: 60%;
    margin-left: 0;
    background-color: white;

    padding-right: 4ex;
    padding-bottom: 2ex;
}
}

