.testWindow{
    margin-top: 2%;
    margin-left: 2%;
    display: block;
    position: relative;
    width: fit-content;
    padding: 4ex;
    background-color: white;
    height: fit-content;
}

th{
    border:1px solid black;
    font-size: 2.5ex;
    text-align: center;
  }

.cell{
  width: 4ex;
  border:1px solid black;
  font-size: 2.5ex;
  text-align: center;

}

td:hover{
  cursor : pointer;
}

table{
    margin-left: auto;
}

.redButton{
  background-color: #CD5C5C;
  color: #fff;
  margin-left: 1ex;
  margin-right: 2ex;
  font-size: large;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.greenButton{
  background-color: green;
  color: #fff;
  margin-left: 1ex;
  margin-right: 2ex;
  font-size: large;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.tinyCell{
  width: 2px;
  background-color: black;
}

