.auctionImage{
    width: 100%;
    height: 25ex;
    object-fit: contain;
}
.auctionTitle{
    font-weight:normal;
    color:#333399;
    margin-top: 1ex;
    margin-left: 10%;
}
.auctionDate{
    color: gray;
    font-weight:lighter;
    font-style: italic;
    margin-top: 2ex;
    margin-left: 10%;
}
.auctionBorder{
    border: 0.1ex solid #1C1C1C;
    width: 30ex;
    border-radius: 3px;
    margin-right: 5ex;
    margin-top: 5ex;
    display: inline-block;
    background-color: white;
}
.auctionInvisible{
    display: block;
    border: 0ex solid white;
    width: 30ex;
    border-radius: 3px;
    margin-right: 5ex;
    margin-top: 5ex;
}