<div *ngIf = "this.level.tests.length > 0" class = "tests">

    <div class = "testWindow shadow" *ngFor="let test of this.level.tests; index as k" cdkDrag>

        <p>{{test.testName}}</p>
        <table>
            <tr [style.background-color] = "test.passedSpecifications.length==0 ? '#CD5C5C' : 'white'">
                <td class = "cell" *ngFor="let inputName of test.inputs">{{inputName}}</td>

                <td class = "tinyCell"></td>

                <td class = "cell" *ngFor="let outputName of test.outputs">{{outputName}}</td>
              </tr>
    
    
            <tr *ngFor="let row of test.mapAsArray; index as i"
            [style] = getRowBackgroundColor(test.passedSpecifications[i])
            >
    
              <td class = "cell" *ngFor="let input of row.input; index as j" 
              (click)="test.cycleInputValue(i,j)">{{input}}</td>

              <td class = "tinyCell"></td>
              
              <td class = "cell" *ngFor="let output of row.output; index as j" 
              (click)="test.cycleInputValue(i,j,true)">{{output}}</td>
            </tr>
        </table> 
    
    </div>
    
</div>
<h2 *ngIf = "this.level.tests.length == 0" class = "bigText centered">No Tests Attached</h2>