.bigText{
    font-size: xx-large;
}

.centered{
    text-align: center;
}

.tests{
    margin-left: 4ex;
    margin-top: 4ex;
}

.cell{
    width: 5ex;
    border: solid;
    text-align: center;
    font-size: 3ex;
}

.tinyCell{
    width: 2px;
    background-color: black;
}