img{
    width: 100px;
    margin-left: 25%;
}

.canPosition{
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 5ex;
    margin-right: 5ex;
}

.canBorder{
    padding-top: 1ex;
    padding-bottom: 1ex;
    height: fit-content;
    width: 30ex;
    border: solid;
}

.canBackground{
    opacity: 0.8;
    background-color: #CD5C5C;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}