<div id = "canvas" class ="grid" cdkDropList cdkDropListSortingDisabled
    (cdkDropListDropped) = "onDrop($event)"
    [cdkDropListConnectedTo]="['deleteGateDrop']"
    [style.background-size]="canvasCellSizesXY[0]+'px '+canvasCellSizesXY[1]+'px'" 
    >
    <app-gate-display *ngFor="let element of circuitManipulation.builder.gates; let i = index; trackBy: customTB"
        [gate] = "element" 
        (click)="setTargetGate(element)"
        (mousedown) = "setTargetGate(element)"
    ></app-gate-display>
    <app-wire-display *ngFor="let element of circuitManipulation.builder.wires"
    [wire] = "element"
    >

    </app-wire-display>

</div>

<app-components-toolbar></app-components-toolbar>
<app-simulation-play-bar></app-simulation-play-bar>
<app-gate-delete-drop></app-gate-delete-drop>
