#gatesList{
    position: fixed;
    margin-top: 8%;
    margin-left: 1%;
    opacity: 0.8;
}

.colorWithShadow
{
    background-color: #e7eff3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fitWithPadding
{
    width: 50ex;
    padding-top: 2ex;
    padding-left: 2ex;
    padding-right: 2ex;
    padding-bottom: 2ex;
    height: fit-content;
}

.menuSection{
    width: 95%;
    border-style: solid;
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
    padding-left: 0.5ex;
    padding-right: 0.5ex;
    display: inline-block;
}

.menuColapseButton
{
    display: inline-block;
    position: absolute;
    right: 10%;
    width: 4ex;
    border: none;
}

p{
    font-size: 3ex;
    display: inline;
}